<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/event-list"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Table</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

 <p> <b>Swipe</b> left to save</p>
 
  
    <form [formGroup]="fg2" *ngIf="table">
          
       <!--  <ion-item *ngFor="let a of table">
          <ion-label position="floating">Table Name #{{a.ID_M}}</ion-label>
          <ion-input type="text" placeholder="enter table name" formControlName="tname" value="{{a.tname}}"></ion-input>
          <ion-icon slot="end" *ngIf="!a.tname" (click)="updateTable(a.IDD_M)" name="checkbox-outline"></ion-icon>
          <ion-icon slot="end" (click)="updateTable(a.IDD_M)" name="checkbox" *ngIf="a.tname" color="success"></ion-icon>
        </ion-item>
 -->
        <ion-list *ngFor="let a of table">
          <ion-item-sliding>
            <ion-item>
              <ion-label position="floating">Table Name #{{a.ID_M}}</ion-label>
              <ion-input type="text" placeholder="enter table name" formControlName="tname" value="{{a.tname}}"></ion-input>
              <ion-icon slot="end" *ngIf="!a.tname" name="checkbox-outline"></ion-icon>
              <ion-icon slot="end" name="checkbox" *ngIf="a.tname" color="success"></ion-icon>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option (click)="openKursi(a.IDD_M)">Edit</ion-item-option>
              <ion-item-option color="success" (click)="updateTable(a.IDD_M)" [disabled]="fg2.invalid">Save</ion-item-option>
            </ion-item-options>
        
          </ion-item-sliding>
        </ion-list>


      </form>

</ion-content>
