<ion-header no-border>
  <ion-toolbar>
    <ion-title>Event</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  

    <form [formGroup]="fg" *ngIf="step1">
        <ion-text>
            <h1>{{pageTitle}}</h1>
          </ion-text>
        <ion-item>
          <ion-label position="floating">Event Name</ion-label>
          <ion-input type="text" formControlName="nama_e"></ion-input>
        </ion-item>
     
        <ion-item>
          <ion-label position="floating">Lokasi Event</ion-label>
          <ion-input type="text" formControlName="lokasi_e"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Tanggal Event</ion-label>
            <ion-datetime displayFormat="DD MM YYYY" formControlName="tanggal_e"></ion-datetime>
          </ion-item>

          <ion-item>
              <ion-label position="floating">Waktu Event</ion-label>
              <ion-datetime displayFormat="Pukul HH : mm" formControlName="waktu_e"></ion-datetime>
             </ion-item>
          <ion-item>
              <ion-label position="floating">Jumlah Meja</ion-label>
              <ion-input type="number" formControlName="jumlah_m"></ion-input>
            </ion-item>
          <ion-item>
              <ion-label position="floating">Notes</ion-label>
              <ion-input type="text" formControlName="notes"></ion-input>
            </ion-item>
         
        <hr>
        <ion-button expand="full" (click)="next()" [disabled]="fg.invalid">
          <ion-ripple-effect></ion-ripple-effect>
          Next
        </ion-button>
        
      </form>

<div *ngIf="step2">
      <ion-text>
        <h1>{{pageTitle}}</h1>
      </ion-text>

      <form [formGroup]="fg2" *ngIf="table">
          
        <ion-item *ngFor="let a of table">
          <ion-label position="floating">Table Name</ion-label>
          <ion-input type="text" placeholder="enter table name" formControlName="tname"></ion-input>
          <ion-icon slot="end" (click)="updateTable(a.IDD_M)" name="checkbox-outline"></ion-icon>
        </ion-item>
     
      </form>
</div>
</ion-content>
