<ion-header no-border>
  <ion-toolbar>
    <ion-title>Random Raffle</ion-title>
    <ion-buttons slot="end">
        <ion-back-button icon="close"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid *ngIf="!selected">
    <ion-row class="ion-justify-content-center">
      <ion-col size="6" style="margin-top: 280px">
        <ion-button (click)="random()">
          Start Randoming
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="selected">
    <ion-row class="ion-justify-content-center">
      <ion-col size="10" style="margin-top: 120px" class="ion-text-center">
        <ion-text>
          <h1>Congratulations,</h1>
        </ion-text>
        <ion-text>
          {{randomed.nama}}
        </ion-text>
        <br>
        <ion-text>
          Raffle number: {{randomed.raffle}}
        </ion-text>
      </ion-col>
      <ion-col size="6" >
          <ion-button (click)="random()">
            Random again
          </ion-button>
        </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
